# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
client/.env
server/.env

# build folders
dist/
build/
client/dist/
server/dist/

# logs
*.log

# vscode
.vscode/

# mac/windows
.DS_Store
Thumbs.db